<!-- Footer -->
  <footer id="footer">

    <ul class="icons">
      {% if site.500px_url %}
      <li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
      {% endif %}
      {% if site.gitlab_url %}
      <li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
      {% endif %}
    </ul>

    <p class="copyright">&copy; {{ site.title }}.</p>
  </footer>

<!-- Scripts -->
  <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | relative_url }}"></script><![endif]-->
  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
